
header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: pink;
    margin: 20px;
}

.time-text {
    font-size: 28px;
    color: pink;
    margin: 20px;
}


.countdown-timer {
    font-size: 28px;
    color: pink;
    margin: 20px;
}

#container {
    display: flex;    
    flex-direction: column;
    align-items: center;
}

#section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#question {
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    font-weight: bold;
}

#answer-list {
    list-style: none;
    padding: 0px;
}

.answer {
    font-size: 25px;
    margin: 5px 0;
    padding: 8px 25px;
    background-color: purple;
    color: white;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
}

#start-btn {
    margin: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    background-color: purple;
    border-radius: 7px;
}