
header {
    display: flex;
    justify-content: space-between;
}

#view-scores {
    color: pink;
    margin: 20px;
    text-decoration: none;
}

#view-scores:hover {
    color: purple;
}

.time-text {
    font-size: 28px;
    color: pink;
    margin: 20px;
}


.countdown-timer {
    font-size: 28px;
    color: pink;
    margin: 20px;
}

#container {
    display: flex;    
    flex-direction: column;
    align-items: center;
}

#section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20%;
}

#question {
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
}

main section div h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    font-weight: bold;
}

main section div p {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}

#answer-list {
    list-style: none;
    padding: 0px;
}

.answer {
    font-size: 25px;
    margin: 5px 0;
    padding: 8px 25px;
    background-color: purple;
    color: white;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;    
}

.answer:hover {
    background-color: lightpink;
}

#start-btn {
    margin: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    background-color: purple;
    border-radius: 7px;
}

#start-btn:hover {
    background-color: lightpink;
}

#bottom {
    color: lightgray;
    font-size: 25px;
    text-align: center;
    border-top-style: solid;
    border-radius: 5px;
    padding: 5px 25%;
}

#final-score {
    font-size: 20px;
    font-weight: bold;
    justify-content: center;

}

#div-of-three {
    display: flex;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

#enter-initials {
    padding: 0px 10px 0px 0px;
}

#input-text {
    padding: 0px 10px;
}

#input-btn {
    padding: 0px 10px;
    margin: 0px 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

#input-btn:hover {
    background-color: grey;
}

#button-div {
    display: flex;
}

.score-button{
    font-size: 25px;
    padding: 0px 10px;
    margin: 10px 50px 0px 0px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.score-button:hover {
    background-color: grey;
}

#high-score {
    font-size: 30px;
    background-color: lightgray;
    padding: 5px 25px 5px 5px;
    border-radius: 7px;
}

button {
    cursor: pointer;
}